div.error404-bg {
  background-image: url('../assets/404.webp');
  background-size: cover;
  background-position: bottom;
  min-width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
  color: var(--white-light);
  text-align: center;
}
div.error404 {
  max-width: 1440px;
  height: 100vh;
}
